.navbar {
    background-color: #2C5F2D; /* Forest Green */
    display: flex;
    justify-content: space-evenly;
    height: 60px;
    align-items: center;
}

.navbar a {
    color: #F5F2E9; /* Cream */
    text-decoration: none;
    font-size: large;
    font-weight: 500;
}

.navbar a:hover {
    color: #97BC62; /* Sage */
}