
.add-hike-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    padding: 1rem;
    box-sizing: border-box;
    background-color: var(--color-bg); 
  }